  html {
    box-sizing: border-box;
  }
  
  *,*:before,*:after {
    box-sizing: inherit;
  }

  body {
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
  }
  
  
  
  #absolute-container {
    position: absolute;
    height: 100vh;
    width: 21vw;
    z-index:3;
    top: 0px;
    left:0px;
    bottom: 0px;
  }
  
  #absolute-container.show-side-container {
    width: 21vw;
  }
  
  #absolute-container.hide-side-container {
    width:0px;
  }
  
  #sidebar-toggle {
    top: 45px;
    
    border-radius: 35%;
    position: absolute;
    right: -40px;
    width: 40px;
    height: 40px;
    background-color:#E9FFD3;
    z-index: 4;
  }
  #sidebar-toggle > img {
    opacity: 40%;
    position:fixed;
    z-index:5;
  }

  #sidebar-toggle > img:hover {
    opacity:80%;
    
    
  }
  
  #side-container {
    position:relative;
    background-color:#F0F4F9;
    color:#1540F3;
    font-size:2rem;
    height: 100%;
    overflow:hidden;
    
  }
  
  #sidebar {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    border: 2px solid green;  
  }
  
  #sidebar > h3 {
    padding-left: 50px;
  }
  
  #side-menu-container {
    overflow:auto;
  }
  
  #side-menu-container > .sidebar-content {
    font-size: 1.5rem;
    color: #656545;
    padding-left: 25px;
  }

  #side-menu-container > .sidebar-content:hover {
    color: #2e2e21;
    cursor: pointer;
  }


  #create-new-page {
    align-self: center;
  }
  #create-new-page > p {
    font-size: 1rem;
  }
  #create-new-page > p:hover {
    text-decoration-line: underline;
    opacity: 70%;
    cursor: pointer;
  }
  
  
  #todo-main {
    width: 100vw;
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content: start;
  }
  
  #todo-top-section {
    display: flex;
    flex-direction:row;
    flex-basis:10%;
    justify-content: center;
  }
  
  #todo-main-section {
    width: 40%;
    flex-basis: 75%;
    align-self:center;
    max-height: 75%; 
    overflow: auto;
    font-size:1.2rem;
  }
  .checklist-item {
    display: flex;
  }
  
  
  .todo-checkmark {
    margin: 15px;
  }
  
  .txt-container  {
    text-wrap: wrap;
    max-width: 96%;
    overflow: auto;
  }
  
  
  .checked-item {
    color: #909090;
    text-decoration: line-through;
  }
  
  
  #input-container {
    
    
  }
  #todo-new-input {
    display: flex;
    flex-direction:row;
    justify-content: center;
  }
  
  #write-todo {
    display:inline-block;
    width: 40%;
    font-size: 1.3rem;
    
  }
  #create-todo {
    display:inline-block;
    margin-left:10px;
    background-color: #48D8FF;
    color:white;
    border:none;
    min-width:40px;
    height:40px;
    border-radius: 50%;
    font-size: 1.5rem;
  }
  #create-todo:hover {
    background-color: #69FFFF;
  }