<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Todo List</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <header>
    </header>
    <main>
      
        <div id="absolute-container" class="hide-side-container">
            <div id="sidebar-toggle">
                <img src = "{{url_for('static', filename='images/caret icon 1.3.png') }}" style="width:40px;height:40px;">
            </div>
            <div id ="side-container">
                <div id="sidebar">
                    <h3>Pages</h3>
                    <div id="side-menu-container">
                        <div class="sidebar-content">
                            <p>Page1</p>
                        </div>
                    </div>
                    <div id="create-new-page">
                        <p style="color:rgb(59, 203, 223)">Create new page</p>
                    </div>
                </div>
            </div>
        </div>
        
        
        </div>
        
        <div id="todo-main">
            <div id="todo-top-section">
                <h1 id="UI-title">Page1</h1>
            </div>
            
            <div id="todo-main-section">
            </div>
            
            <div class="input-container">
                <div id="todo-new-input">
                    <input id="write-todo">
                    <button id="create-todo">Add new</button>
                </div>
            </div>
            
            
            
        </div>

    </main>
    <script src = "{{ url_for('static', filename='js/script.js')}}">

    </script>
  </body>
</html>